minlen = {{ password_policy_password_min_length }}
dcredit = {{ password_policy_min_num_digit }}
ucredit = {{ password_policy_min_upper_case }}
lcredit = {{ password_policy_min_lower_case }}
ocredit = {{ password_policy_min_oth_char }}
minclass = {{ password_policy_min_num_class }}
